version: "3.9"

services:
  proto_compiler:
    build: ./proto
    volumes:
      - ./proto:/app
      - ./client:/app/client  # maps host client folder into container  
    command: python compile_proto.py

  auth_service:
    build: ./services/auth_service
    volumes:
      - ./client:/app/client  # maps host client folder into container
      - ./services/auth_service/auth.db:/app/services/auth_service/auth.db  # host file → container file
    ports:
      - "8000:8000"
    depends_on:
      - proto_compiler

  enrollment_service:
    build: ./services/enrollment_service
    volumes:
      - ./client:/app/client  # maps host client folder into container
      - ./services/enrollment_service/enrollment.db:/app/services/enrollment_service/enrollment.db  # host file → container file
    ports:
      - "8002:8002"
    depends_on:
      - proto_compiler

  course_service:
      build: ./services/course_service
      volumes:
        - ./client:/app/client  # maps host client folder into container
        - ./services/course_service/courses.db:/app/services/course_service/courses.db  # host file → container file
      ports:
        - "8001:8001"
      depends_on:
        - proto_compiler

  gateway:
    build: ./gateway
    ports:
      - "8888:8888"
    volumes:
      - ./client:/app/client  # maps host client folder into container
      - ./frontend:/frontend
    depends_on:
      - auth_service
      - course_service
      - enrollment_service